<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/matches.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/header.css">

</head>
<body>
  <div class="ui fixed inverted secondary menu navbar page">
    <a class="item">
      <span class="t">T</span><span class="ml">ML</span>
    </a>
    <a class="item" href="/messages">
      <span>Messages</span>
    </a>
    <a class="item" href="/matches">
      <span>Matches</span>
    </a>
    <div class="menu-content-right">
      <a class="search-button" href="/search">
        <span class="search-icon"></span>
      </a>
      <% if(currentUser){ %>
        <a class="item" href="/users/<%= currentUser._id %>/edit">
          <span><%= currentUser.firstName %></span>
        </a>
        <a class="item" href="/logout">
          <span>logout</span>
        </a>
      <% } %>
    </div>
  </div>

  <div class="title-wrapper">
    <div class="ui grid container">
      <div class="sixteen wide column">
        <h1>matches</h1>
      </div>
    </div>
  </div>
<div class="ui grid container">
  <div class="sixteen wide column">
    <div class="ui four stackable cards">

    <% var color = ['blue', 'pink', 'yellow'] %>
    <% var n = 0 %>

    <% users.forEach(function(user, i){ %>

      <a class="ui fluid card <%= color[n] %>" href="/users/<%= user._id %>/view" data-num="<%= i %>">
          <div class="image-wrapper">
            <img src="<%= user.photos[0] %>"/>
          </div>
          <div class="content">
            <div class="info">
              <h3><%= user.firstName %> <span class="bold"><%= user.lastName %></span></h3>
              <h4><%= user.city %>, <%= user.country %></h4>
              <div class="speaks-container">
                <h5>speaks</h5>
                  <ul>
                    <% user.spokenLanguages.forEach(function(lang, i){ %>
                        <li><%= lang %></li>
                    <% }); %>
                  </ul>
              </div>
              <div class="learning-container">
                <h5>learning</h5>
                  <ul>
                    <% user.learningLanguages.forEach(function(lang, i){ %>
                      <li><%= lang %></li>
                    <% }); %>
                  </ul>
              </div>
            </div>
          </div>
        </a>

      <% if(n >= 2){ %>
        <% n = 0 %>
      <% } else { %>
        <% n++ %>
      <% } %>

    <% }); %>

    </div>
  </div>
</div>
<script type="text/javascript" src="/scripts/matches.js"></script>

<% include ../partials/footer %>
