<% include ../partials/header %>
<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/messages.css"> -->
<link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/message_view.css">

</head>
<body>

  <div class="ui fixed inverted secondary menu">
    <a class="item">
      <span class="t">T</span><span class="ml">ML</span>
    </a>
    <a class="item">
      <span>messages</span>
    </a>
    <a class="item" href="/matches">
      <span>Matches</span>
    </a>
    <% if(currentUser){ %>
      <a class="item" href="/users/<%= currentUser._id %>/edit">
        <span><%= currentUser.firstName %></span>
      </a>
      <a class="item" href="/logout">
        <span>logout</span>
      </a>
    <% } %>
  </div>


  <div class="ui grid container">
    <div class="sixteen wide column">
      <div class="main-wrapper">
        <div class="messages-wrapper" id="mymsgs">
          <% if(messages[0].sender.id == currentUser._id){ %>
            <% var otherUser = messages[0].recipient.username %>
            <% var otherUserId = messages[0].recipient.id %>
          <% } else { %>
            <% var otherUser = messages[0].sender.username %>
            <% var otherUserId = messages[0].sender.id %>
          <% } %>
          <% messages.forEach(function(message, i){ %>
            <% if(message.recipient.username == otherUser){ %>
              <div class="msg-wrapper current-user">
                <div class="msg msg-current-user">
                  <p>
                    <%= message.messageContent %>
                  </p>
                </div>
              </div>
            <% } else { %>
              <div class="msg-wrapper other-user">
                <div class="msg msg-other-user">
                  <p>
                    <%= message.messageContent %>
                  </p>
                </div>
              </div>
            <% } %>
          <% }) %>
        </div>
        <div class="wite-message-wrapper">
          <form class="write-message-form" id="message" action="/messages/<%= thread %>" method="post">
            <textarea class="new-message" name="newMessage" rows="8" cols="40"></textarea>
            <input type="hidden" name="senderId" value="<%= currentUser._id %>">
            <input type="hidden" name="senderName" value="<%= currentUser.firstName %>">
            <input type="hidden" name="recipientId" value="<%= otherUserId %>">
            <input type="hidden" name="recipientName" value="<%= otherUser %>">
            <input type="hidden" name="thread" value="<%= thread %>">
            <button type="submit" name="submit">Send!</button>
          </form>
        </div>
      </div>
    </div>


  </div>

<script type="text/javascript" src="/scripts/message_view.js"></script>

<% include ../partials/footer %>
