<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/message_view.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/header.css">

</head>
<body>

  <div class="ui container">
    <% if(error && error.length > 0){ %>
      <div class="ui red message" rolde="alert">
        <%= error %>
      </div>
    <% } %>
    <% if(success && success.length > 0){ %>
      <div class="ui green message" rolde="alert">
        <%= success %>
      </div>
    <% } %>
  </div>

  <div class="ui fixed inverted secondary menu navbar page">
    <a class="item">
      <span class="t">Word</span><span class="ml">UP</span>
    </a>
    <a class="item" href="/messages">
      <span>Messages</span>
      <% if(currentUser.updatedConversations.length > 0) { %>
        <div class="newMessages">
          <span id="numNewMsgs"><%= currentUser.updatedConversations.length %></span>
        </div>
      <% } %>
    </a>
    <a class="item" href="/matches">
      <span>Matches</span>
    </a>
    <div class="menu-content-right">
      <a class="search-button" href="/search">
        <span class="search-icon"></span>
      </a>
      <% if(currentUser){ %>
        <a class="item" href="/users/<%= currentUser._id %>/view">
          <span><%= currentUser.firstName %></span>
        </a>
        <a class="item" href="/logout">
          <span>logout</span>
        </a>
      <% } %>
    </div>
  </div>
  <% if(messages[0].sender.id == currentUser._id){ %>
    <% var otherUser = messages[0].recipient.username %>
    <% var otherUserId = messages[0].recipient.id %>
  <% } else { %>
    <% var otherUser = messages[0].sender.username %>
    <% var otherUserId = messages[0].sender.id %>
  <% } %>

  <div class="main-wrapper">
    <div class="title-wrapper">
      <div class="header-wrapper">
        <h1>Your Chat with <%= otherUser %></h1>
      </div>
    </div>

    <div class="message-wrapper">
      <div class="message-scroller-wrapper">
        <div class="messages-text-wrapper" id="mymsgs">
          <% messages.forEach(function(message, i){ %>
            <% if(message.recipient.username == otherUser){ %>
              <div class="msg-wrapper current-user">
                <div class="msg msg-current-user">
                  <p><%= message.messageContent %></p>
                </div>
              </div>
            <% } else { %>
              <div class="msg-wrapper other-user">
                <div class="msg msg-other-user">
                  <p><%= message.messageContent %></p>
                </div>
              </div>
            <% } %>
          <% }) %>
        </div>
      </div>
      <div class="wite-message-wrapper">
        <form class="write-message-form" id="message" action="/messages/<%= thread %>" method="post">
          <textarea class="new-message" name="newMessage" rows="1" cols="40"></textarea>
          <input type="hidden" name="senderId" value="<%= currentUser._id %>">
          <input type="hidden" name="senderName" value="<%= currentUser.firstName %>">
          <input type="hidden" name="recipientId" value="<%= otherUserId %>">
          <input type="hidden" name="recipientName" value="<%= otherUser %>">
          <input type="hidden" name="thread" value="<%= thread %>">
          <button type="submit" name="submit">Send!</button>
        </form>
      </div>
    </div>
  </div>
<script src="../socket.io/socket.io.js"></script>
<script type="text/javascript" src="/scripts/message_view.js"></script>

<% include ../partials/footer %>
